:root {
	--columnAmount: 1;
	--white: #cccccc;
	--grey: #808085;
	--dark-grey: #202025;
	--black: #101015;
}

html {
	scrollbar-width: none;
	scroll-snap-type: y mandatory;
	scroll-padding: 0.5em;
	font-size: 16px;
	font-family: Arial;
}

body {
	color: var(--grey);
	background-color: var(--black);
	margin: 0;
}

main {
	text-align: center;
}

*+h2 {
	font-size: 1em;
	margin: 0;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

*+h3 {
	font-size: 0.75em;
	margin: 0;
	align-self: end;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.article_feed {
	grid-area: feed;
	justify-self: start;
}

.article_time {
	grid-area: time;
	justify-self: end;
}

.read {
	opacity: 0.25;
}

article {
	scroll-snap-align: start;
	background-color: var(--dark-grey);
	aspect-ratio: 1/1;
	width: calc(100% / var(--columnAmount) - 0.5em);
	margin: 0.25em;
}

article[read="1"] {
	opacity: 0.3;
}

.article_image {
	height: 12em;
	width: 100%;
	object-fit: cover;
}

[role=menu] {
	position: fixed;
	background-color: var(--black);
	z-index: 1;
}

[role=menu-item] {
	padding: 0.3em;
	display: none;
}

[role=menu-item]>img {
	background-color: var(--grey);
	mask-repeat: no-repeat;
	mask-position: center;
	width: 2em;
}

.img-check-circle {
	mask-image: url(check-circle.svg);
}

.img-check-square {
	mask-image: url(check-square.svg);
}

.img-edit {
	mask-image: url(edit.svg);
}

.img-repeat {
	mask-image: url(repeat.svg);
}

.img-rotate-ccw {
	mask-image: url(rotate-ccw.svg);
}

[role=menu-item] p {
	padding: 0.3em;
	margin: 0;
}

button:hover {
	color: var(--white);
}

[role=menu-item]:hover {
	background-color: var(--dark-grey);
	cursor: pointer;
}

[role=menu-item]:hover>p {
	color: var(--white);
}

[role=menu-item]:hover>img {
	background-color: var(--white);
}

#blocker {
	display: none;
	position: fixed;
	z-index: 1;
	background: rgb(0, 0, 0, 0.95);
	width: 100vw;
	height: 100vh;
}

#add_feed {
	display: none;
	font-size: 1.5em;
	background-color: var(--black);
	padding: 2em;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input {
	width: 100%;
}

#add_feed.visible {
	display: block;
}

#blocker.visible {
	display: block;
}

#adaptive-context-menu.article>div {
	display: flex;
}

#adaptive-context-menu.background>div#add-feed,
#adaptive-context-menu.background>div#undo-read,
#adaptive-context-menu.background>div#toggle-read {
	display: flex;
}

#dummy-container {
	position: relative;
	width: 100%;
	height: 0;
}

#scroll-trigger {
	position: absolute;
	height: 50vh;
	bottom: 0;
	width: 100%;
	opacity: 0;
	pointer-events: none;
}


@media (min-resolution: 120dpi) {
	html {
		scroll-snap-type: none;
	}
}

#loading-bar {
	background: repeating-linear-gradient(to right, green 0%, greenyellow 50%, green 100%);
	width: 100%;
	background-size: 200% auto;
	background-position: 0 100%;
	animation: gradient 2s infinite;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-timing-function: linear;
	height: 0.5em;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
}

#loading-bar[amount="0"] {
	display: none;
}

@keyframes gradient {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -200% 0;
	}
}

#loadingSpinner {
	display: none;
	animation: spin 1s infinite;
	vertical-align: middle;
}

#loadingSpinner.visible {
	display: inline;
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

article>a>img {
	width: 100%;
	aspect-ratio: 3/2;
	object-fit: fill;
	overflow: hidden;
}

article {
	display: inline-grid;
	grid-template: "link link link" auto ". . ." 1fr "feed . time" 1.6em / auto minmax(2em, 1fr) auto;
}

article>a {
	color: inherit;
	text-decoration: none;
	grid-area: link;
	overflow: hidden;
}

article>a:hover {
	color: var(--white);
}

article>a>h2 {
	padding-left: 0.2em;
	font-size: 1em;
	text-align: left;
	margin: 0;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

article>button,
article>h3 {
	padding: 0.4em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.8em;
}

article>button {
	grid-area: feed;
	border: none;
	color: inherit;
	background-color: inherit;
	font-weight: bold;
	cursor: pointer;
}

article>button:hover {
	color: var(--white);
}

article>h3 {
	grid-area: time;
	margin: 0;
}